meta {
  -theme-display-name: "Selenized Dark";
  -theme-interface-style: dark;
  -theme-accent-color: true;
}

/* Terminal colours */
terminal.black { color: #adbcbc; }
terminal.red  { color: #fa5750; }
terminal.green { color: #75b938; }
terminal.yellow { color: #dbb32d; }
terminal.blue { color: #4695f7; }
terminal.magenta { color: #f275be; }
terminal.cyan { color: #41c7b9; }
terminal.white { color: #103c48; }
terminal.bright-black { color: #cad8d9; }
terminal.bright-red { color: #ff665c; }
terminal.bright-green { color: #84c747; }
terminal.bright-yellow { color: #ebc13d; }
terminal.bright-blue { color: #58a3ff; }
terminal.bright-magenta { color: #ff84cd; }
terminal.bright-cyan { color: #53d6c7; }
terminal.bright-white { color: #184956; }

meta.document {
  background-color: #103c48;
  border-color: #184956;
}

meta.text {
  color: #adbcbc;
}
meta.text.invisible {
  color: rgba(147, 161, 161, 0.1);
}
meta.text.selected {
  background-color: #184956;
}

meta.cursor {
  border-color: #839496;
  background-color: #184956;
}
meta.indentguide {
  border-color: #184956;
}

meta.gutter {
  background-color: #103c48;
  border-color: #103c48;
  color: #72898f;
}
meta.gutter.selected {
  background-color: #184956;
  color: #72898f;
}

/*
 * Syntax styles
 */

comment {
  color: #72898f;
  font-style: italic;
}
processing {
  color: #fa5750;
  font-style: italic;
}
declaration {
  color: #dbb32d;
  font-style: italic;
}

bracket,
html.tag-bracket,
html.tag.open.paired,
css.style.attribute-list.bracket,
punctuation.bracket,
ruby.bracket {
  color: #72898f;
}

operator {
  color: #cad8d9;
}

link {
  color: #fa5750;
}

html.tag.name,
keyword {
  color: #72898f;
  font-style: italic;
}
invalid {
  background-color: #fa5750;
}

style.value.boolean,
style.value.null,
style.value.number,
style.value.entity,
style.value.symbol {
  color: #dbb32d;
}
style.value.keyword,
style.value.color.hex,
style.value.color.named {
  color: #dbb32d;
}

identifier.global {
  color: #ed8649;
}
identifier.constant {
  color: #ed8649;
}
identifier.variable {
  color: #f275be;
}
identifier.type {
  color: #ed8649;
}
identifier.function {
  color: #4695f7;
}

identifier.property {
  color: #4695f7;
}

identifier.method {
  color: #4695f7;
}
identifier.core.method {
  color: #ed8649;
}
identifier.argument {
  color: #75b938;
}
identifier.key {
  color: #58a3ff;
  font-style: italic;
}

identifier.name {
  color: #4695f7;
}
identifier.type.superclass {
  color: #dbb32d;
}

identifier.class.type.name {
  color: #4695f7;
}

identifier.class.type.module.name {
  color: #dbb32d;
}

identifier.type.superclass.module {
  color: #ed8649;
}

collection.array {
  color: #ed8649;
}

cdata {
  color: #adbcbc;
}

string {
  color: #75b938;
}
string.special.symbol{
  font-style: italic;
}
regex {
  color: #fa5750;
}

string.escaped,
regex.escaped {
  color: #fa5750;
}

string.key {
  color: #fa5750;
}
string-template {
  color: #fa5750;
}
string-template.value {
  color: #fa5750;
}
string.percent-quoted.prefix {
  color: #ed8649;
}
string.percent-quoted.delimiter {
  color: #ed8649;
}

markup.heading {
  color: #4695f7;
  font-weight: bold;
}
markup.line {
  color: #72898f;
}
markup.bold {
  color: #f275be;
  font-weight: bold;
}
markup.italic {
  color: #fa5750;
  font-style: italic;
}
markup.strikethrough {
  color: #72898f;
}
markup.list.item {
  color: #fa5750;
}
markup.code {
  color: #41c7b9;
  background-color: #103c48;
}
markup.link {
  color: #fa5750;
}
markup.image {
  color: #fa5750;
}

tag {
  color: #72898f;
}

style.attribute.name,
tag.attribute.name {
  color: #adbcbc;
  font-style: italic;
}
tag.attribute.value {
  color: #75b938;
}
tag.framework {
  color: #72898f;
}

style.value.number {
  color: #ed8649;
}
style.string {
  color: #adbcbc;
}

style.at {
  color: #fa5750;
}