meta {
  -theme-display-name: "Selenized White";
  -theme-interface-style: light;
  -theme-accent-color: true;
}

/* Terminal colours */
terminal.black { color: #474747; }
terminal.red  { color: #d6000c; }
terminal.green { color: #1d9700; }
terminal.yellow { color: #c49700; }
terminal.blue { color: #0064e4; }
terminal.magenta { color: #dd0f9d; }
terminal.cyan { color: #00ad9c; }
terminal.white { color: #ffffff; }
terminal.bright-black { color: #282828; }
terminal.bright-red { color: #bf0000; }
terminal.bright-green { color: #008400; }
terminal.bright-yellow { color: #af8500; }
terminal.bright-blue { color: #0054cf; }
terminal.bright-magenta { color: #c7008b; }
terminal.bright-cyan { color: #009a8a; }
terminal.bright-white { color: #ebebeb; }

/* Window */
meta.window {
  background-color: #ebebeb;
  border-color: #cdcdcd
}
meta.titlebar {
  border-color: #ebebeb;
}

/* Document */
meta.document {
  background-color: #ffffff;
  border-color: #ebebeb;
}

meta.text {
  color: #474747;
}
meta.text.invisible {
  color: rgba(147, 161, 161, 0.1);
}
meta.text.selected {
  background-color: #ebebeb;
}

meta.cursor {
  border-color: #839496;
  background-color: #ebebeb;
}
meta.indentguide {
  border-color: #ebebeb;
}

meta.gutter {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #878787;
}
meta.gutter.selected {
  background-color: #ebebeb;
  color: #878787;
}

/*
 * Syntax styles
 */

comment {
  color: #878787;
  font-style: italic;
}
processing {
  color: #d6000c;
  font-style: italic;
}
declaration {
  color: #c49700;
  font-style: italic;
}

bracket,
html.tag-bracket,
html.tag.open.paired,
css.style.attribute-list.bracket,
punctuation.bracket,
ruby.bracket {
  color: #878787;
}

operator {
  color: #282828;
}

link {
  color: #d6000c;
}

html.tag.name,
keyword {
  color: #878787;
  font-style: italic;
}
invalid {
  background-color: #d6000c;
}

style.value.boolean,
style.value.null,
style.value.number,
style.value.entity,
style.value.symbol {
  color: #c49700;
}
style.value.keyword,
style.value.color.hex,
style.value.color.named {
  color: #c49700;
}

identifier.global {
  color: #d04a00;
}
identifier.constant {
  color: #d04a00;
}
identifier.variable {
  color: #dd0f9d;
}
identifier.type {
  color: #d04a00;
}
identifier.function {
  color: #0064e4;
}

identifier.property {
  color: #0064e4;
}

identifier.method {
  color: #0064e4;
}
identifier.core.method {
  color: #d04a00;
}
identifier.argument {
  color: #1d9700;
}
identifier.key {
  color: #0054cf;
  font-style: italic;
}

identifier.name {
  color: #0064e4;
}
identifier.type.superclass {
  color: #c49700;
}

identifier.class.type.name {
  color: #0064e4;
}

identifier.class.type.module.name {
  color: #c49700;
}

identifier.type.superclass.module {
  color: #d04a00;
}

collection.array {
  color: #d04a00;
}

cdata {
  color: #474747;
}

string {
  color: #1d9700;
}
string.special.symbol{
  font-style: italic;
}
regex {
  color: #d6000c;
}

string.escaped,
regex.escaped {
  color: #d6000c;
}

string.key {
  color: #d6000c;
}
string-template {
  color: #d6000c;
}
string-template.value {
  color: #d6000c;
}
string.percent-quoted.prefix {
  color: #d04a00;
}
string.percent-quoted.delimiter {
  color: #d04a00;
}

markup.heading {
  color: #0064e4;
  font-weight: bold;
}
markup.line {
  color: #878787;
}
markup.bold {
  color: #dd0f9d;
  font-weight: bold;
}
markup.italic {
  color: #d6000c;
  font-style: italic;
}
markup.strikethrough {
  color: #878787;
}
markup.list.item {
  color: #d6000c;
}
markup.code {
  color: #00ad9c;
  background-color: #ffffff;
}
markup.link {
  color: #d6000c;
}
markup.image {
  color: #d6000c;
}

tag {
  color: #878787;
}

style.attribute.name,
tag.attribute.name {
  color: #474747;
  font-style: italic;
}
tag.attribute.value {
  color: #1d9700;
}
tag.framework {
  color: #878787;
}

style.value.number {
  color: #d04a00;
}
style.string {
  color: #474747;
}

style.at {
  color: #d6000c;
}
