/* TODO: replace colours with Selenized versions */
/* Selenized / Solarized colours
base03 ?? #002b36
base02 ?? #073642
base01 #3a4d53 #586e75 - optional emphasized content
base00 #53676d #657b83 - body text / default code / primary content
base0  #839496
base1 #909995 #93a1a1 - comments / secondary content
base2 #ece3cc #eee8d5 - background highlights
base3 #fbf3db #fdf6e3 - background
red #d2212d #dc322f - ??
green #489100 #859900 - something different but close to content
yellow #ad8900 #b58900 - keywords
blue #0072d4 #268bd2 - methods
magenta #ca4898 #d33682 - variables
cyan #009c8f #2aa198 - keys
orange #c25d1e #cb4b16 - constants
violet #8762c6 #6c71c4 - TODO

br_red #cc1729 - - ??
br_green #428b00 - - ??
br_yellow #a78300 - - ??
br_blue #006dce - - ??
br_magenta #c44392 - - ??
br_cyan #00978a - - ??
br_orange #bc5819 - - ??
br_violet #825dc0 - - ??

*/

terminal.black { color: #53676d; }
terminal.red  { color: #d2212d;}
terminal.green { color: #489100;}
terminal.yellow { color: #ad8900;}
terminal.blue { color: #0072d4;}
terminal.magenta { color: #ca4898;}
terminal.cyan { color: #009c8f;}
terminal.white { color: #fbf3db;}
terminal.bright-black { color: #3a4d53;}
terminal.bright-red { color: #cc1729;}
terminal.bright-green { color: #428b00;}
terminal.bright-yellow { color: #a78300;}
terminal.bright-blue { color: #006dce;}
terminal.bright-magenta { color: #c44392;}
terminal.bright-cyan { color: #00978a;}
terminal.bright-white { color: #ece3cc;}

meta {
  -theme-display-name: "Selenized Light (Rails)";
  -theme-interface-style: light;
  -theme-accent-color: auto;
}

/* meta.window {
  background-color: hsl(211, 34%, 12%);
  border-color: hsla(0, 0%, 100%, 0.15);
}
meta.titlebar {
  color: hsl(220, 17%, 76%);
  background: linear-gradient(hsl(211, 34%, 21%), hsl(211, 34%, 12%));
  background-color: hsl(211, 34%, 12%);
  border-color: hsla(0, 0%, 100%, 0.15);
}
meta.titlebar.inactive {
  background-color: hsl(211, 34%, 12%);
  border-color: hsla(0, 0%, 100%, 0.15);
}

meta.button {
  background: linear-gradient(hsl(211, 34%, 21%), hsl(211, 34%, 19%));
  border-color: hsla(0, 0%, 100%, 0.15);
  color: white;
}
meta.button.highlighted {
  background: linear-gradient(hsl(211, 34%, 27%)), hsl(211, 34%, 25%));
  color: white;
}
meta.button.selected {
  color: white;
}
meta.button.highlighted.selected {
  color: white;
}
meta.button.disabled {
  background: linear-gradient(hsl(211, 34%, 21%), hsl(211, 34%, 19%));
  border-color: hsla(0, 0%, 100%, 0.15);
  color: hsl(0, 0%, 40%);
} */

meta.document {
  background-color: #fbf3db;
  border-color: #ece3cc;
}

meta.text {
  color: #53676d;
}
meta.text.invisible {
  color: rgba(147 161 161, 0.1);
}
meta.text.selected {
  background-color: #ece3cc;
}

meta.cursor {
  border-color: #839496;
  background-color: #ece3cc;
}
meta.indentguide {
  border-color: #ece3cc;
}

meta.gutter {
  background-color: #fbf3db;
  border-color: #fbf3db;
  color:#909995;
}
meta.gutter.selected {
  background-color: #ece3cc;
  color: #909995;
}

/*
 * Syntax styles
 */

comment {
  color: #909995;
  font-style: italic;
}
processing {
  color: red;
  font-style: italic;
}
declaration {
  color: #ad8900;
  font-style: italic;
}

bracket,
html.tag-bracket,
html.tag.open.paired,
css.style.attribute-list.bracket,
punctuation.bracket,
ruby.bracket {
  color: #909995;
}

operator {
  color: #3a4d53;
}

link {
  color: #d2212d;
}

/* misschien alleen ruby keyword italic*/
html.tag.name,
keyword {
  color: #909995;
  /* font-weight: bold; */
  font-style: italic;
}
invalid {
  background-color: #d2212d;
}

style.value.boolean,
style.value.null,
style.value.number,
style.value.entity,
style.value.symbol {
  color: #ad8900;
}
style.value.keyword,
style.value.color.hex,
style.value.color.named {
  color: #ad8900;
}

identifier.global {
  color: #c25d1e;
}
identifier.constant {
  color: #c25d1e;
}
identifier.variable {
  color: #ca4898;
}
identifier.type {
  color: #c25d1e;
}
identifier.function {
  color: #0072d4;
}

identifier.property {
  color: #0072d4;
}

identifier.method {
  color: #0072d4;
}
identifier.core.method {
  color: #c25d1e;
}
identifier.argument {
  color: #489100;
}
identifier.key {
  color: #006dc;
  font-style: italic;
}

identifier.name {
  color: #0072d4;
}
identifier.type.superclass {
  color: #ad8900;
}

identifier.class.type.name {
  color: #0072d4;
}

identifier.class.type.module.name {
  color: #ad8900;
}

identifier.type.superclass.module {
  color: #c25d1e;
}

collection.array {
  color: #c25d1e;
}

cdata {
  color: #53676d;
}

string {
  color: #489100;
}
string.special.symbol{
  font-style: italic;
}
regex {
  color: #d2212d;
}

string.escaped,
regex.escaped {
  color: #d2212d;
}

string.key {
  color: red;
}
string-template {
  color: ##d2212d;
}
string-template.value {
  color: red;
}
string.percent-quoted.prefix {
  color: #c25d1e;
}
string.percent-quoted.delimiter {
  color: #c25d1e;
}

markup.heading {
  color: #0072d4;
  font-weight: bold;
}
markup.line {
  color: #909995;
}
markup.bold {
  color: #ca4898;
  font-weight: bold;
}
markup.italic {
  color: red;
  font-style: italic;
}
markup.strikethrough {
  color: #909995;
}
markup.list.item {
  color: red;
}
markup.code {
  color: #009c8f;
  background-color: #fbf3db;
}
markup.link {
  color: red
}
markup.image {
  color: red
}

tag {
  color: #909995;
}

/* style.attribute.name {
  color: #909995;
} */

style.attribute.name,
tag.attribute.name {
  color: ##53676d;
  font-style: italic;
}
tag.attribute.value {
  color: #489100;
}
tag.framework {
  color: #909995;
}

style.value.number {
  color: #c25d1e;
}
style.string {
  color: #53676d;
}

style.at {
  color: red;
}
