meta {
  -theme-display-name: "Selenized Black";
  -theme-interface-style: dark;
  -theme-accent-color: true;
}

/* Terminal colours */
terminal.black { color: #b9b9b9; }
terminal.red  { color: #ed4a46; }
terminal.green { color: #70b433; }
terminal.yellow { color: #dbb32d; }
terminal.blue { color: #368aeb; }
terminal.magenta { color: #eb6eb7; }
terminal.cyan { color: #3fc5b7; }
terminal.white { color: #181818; }
terminal.bright-black { color: #dedede; }
terminal.bright-red { color: #ff5e56; }
terminal.bright-green { color: #83c746; }
terminal.bright-yellow { color: #efc541; }
terminal.bright-blue { color: #4f9cfe; }
terminal.bright-magenta { color: #ff81ca; }
terminal.bright-cyan { color: #56d8c9; }
terminal.bright-white { color: #252525; }

/* Window */
meta.window {
  background-color: #181818;
  border-color: #252525
}
meta.titlebar {
  border-color: #252525;
}

/* Document */
meta.document {
  background-color: #181818;
  border-color: #252525;
}

meta.text {
  color: #b9b9b9;
}
meta.text.invisible {
  color: rgba(147, 161, 161, 0.1);
}
meta.text.selected {
  background-color: #252525;
}

meta.cursor {
  border-color: #839496;
  background-color: #252525;
}
meta.indentguide {
  border-color: #252525;
}

meta.gutter {
  background-color: #181818;
  border-color: #181818;
  color: #777777;
}
meta.gutter.selected {
  background-color: #252525;
  color: #777777;
}

/*
 * Syntax styles
 */

comment {
  color: #777777;
  font-style: italic;
}
processing {
  color: #ed4a46;
  font-style: italic;
}
declaration {
  color: #dbb32d;
  font-style: italic;
}

bracket,
html.tag-bracket,
html.tag.open.paired,
css.style.attribute-list.bracket,
punctuation.bracket,
ruby.bracket {
  color: #777777;
}

operator {
  color: #dedede;
}

link {
  color: #ed4a46;
}

html.tag.name,
keyword {
  color: #777777;
  font-style: italic;
}
invalid {
  background-color: #ed4a46;
}

style.value.boolean,
style.value.null,
style.value.number,
style.value.entity,
style.value.symbol {
  color: #dbb32d;
}
style.value.keyword,
style.value.color.hex,
style.value.color.named {
  color: #dbb32d;
}

identifier.global {
  color: #e67f43;
}
identifier.constant {
  color: #e67f43;
}
identifier.variable {
  color: #eb6eb7;
}
identifier.type {
  color: #e67f43;
}
identifier.function {
  color: #368aeb;
}

identifier.property {
  color: #368aeb;
}

identifier.method {
  color: #368aeb;
}
identifier.core.method {
  color: #e67f43;
}
identifier.argument {
  color: #70b433;
}
identifier.key {
  color: #4f9cfe;
  font-style: italic;
}

identifier.name {
  color: #368aeb;
}
identifier.type.superclass {
  color: #dbb32d;
}

identifier.class.type.name {
  color: #368aeb;
}

identifier.class.type.module.name {
  color: #dbb32d;
}

identifier.type.superclass.module {
  color: #e67f43;
}

collection.array {
  color: #e67f43;
}

cdata {
  color: #b9b9b9;
}

string {
  color: #70b433;
}
string.special.symbol{
  font-style: italic;
}
regex {
  color: #ed4a46;
}

string.escaped,
regex.escaped {
  color: #ed4a46;
}

string.key {
  color: #ed4a46;
}
string-template {
  color: #ed4a46;
}
string-template.value {
  color: #ed4a46;
}
string.percent-quoted.prefix {
  color: #e67f43;
}
string.percent-quoted.delimiter {
  color: #e67f43;
}

markup.heading {
  color: #368aeb;
  font-weight: bold;
}
markup.line {
  color: #777777;
}
markup.bold {
  color: #eb6eb7;
  font-weight: bold;
}
markup.italic {
  color: #ed4a46;
  font-style: italic;
}
markup.strikethrough {
  color: #777777;
}
markup.list.item {
  color: #ed4a46;
}
markup.code {
  color: #3fc5b7;
  background-color: #181818;
}
markup.link {
  color: #ed4a46;
}
markup.image {
  color: #ed4a46;
}

tag {
  color: #777777;
}

style.attribute.name,
tag.attribute.name {
  color: #b9b9b9;
  font-style: italic;
}
tag.attribute.value {
  color: #70b433;
}
tag.framework {
  color: #777777;
}

style.value.number {
  color: #e67f43;
}
style.string {
  color: #b9b9b9;
}

style.at {
  color: #ed4a46;
}
