meta {
  -theme-display-name: "Solarized Light";
  -theme-interface-style: light;
  -theme-accent-color: true;
}

/* Terminal colours */
terminal.black { color: #657b83; }
terminal.red  { color: #dc322f; }
terminal.green { color: #859900; }
terminal.yellow { color: #b58900; }
terminal.blue { color: #268bd2; }
terminal.magenta { color: #d33682; }
terminal.cyan { color: #2aa198; }
terminal.white { color: #fdf6e3; }
terminal.bright-black { color: #586e75; }
terminal.bright-red { color: #dc322f; }
terminal.bright-green { color: #859900; }
terminal.bright-yellow { color: #b58900; }
terminal.bright-blue { color: #268bd2; }
terminal.bright-magenta { color: #d33682; }
terminal.bright-cyan { color: #2aa198; }
terminal.bright-white { color: #eee8d5; }

/* Window */
meta.window {
  background-color: #eee8d5;
  border-color: #93a1a1
}
meta.titlebar {
  border-color: #eee8d5;
}

/* Document */
meta.document {
  background-color: #fdf6e3;
  border-color: #eee8d5;
}

meta.text {
  color: #657b83;
}
meta.text.invisible {
  color: rgba(147, 161, 161, 0.1);
}
meta.text.selected {
  background-color: #eee8d5;
}

meta.cursor {
  border-color: #839496;
  background-color: #eee8d5;
}
meta.indentguide {
  border-color: #eee8d5;
}

meta.gutter {
  background-color: #fdf6e3;
  border-color: #fdf6e3;
  color: #839496;
}
meta.gutter.selected {
  background-color: #eee8d5;
  color: #839496;
}

/*
 * Syntax styles
 */

comment {
  color: #839496;
  font-style: italic;
}
processing {
  color: #dc322f;
  font-style: italic;
}
declaration {
  color: #b58900;
  font-style: italic;
}

bracket,
html.tag-bracket,
html.tag.open.paired,
css.style.attribute-list.bracket,
punctuation.bracket,
ruby.bracket {
  color: #839496;
}

operator {
  color: #586e75;
}

link {
  color: #dc322f;
}

html.tag.name,
keyword {
  color: #839496;
  font-style: italic;
}
invalid {
  background-color: #dc322f;
}

style.value.boolean,
style.value.null,
style.value.number,
style.value.entity,
style.value.symbol {
  color: #b58900;
}
style.value.keyword,
style.value.color.hex,
style.value.color.named {
  color: #b58900;
}

identifier.global {
  color: #cb4b16;
}
identifier.constant {
  color: #cb4b16;
}
identifier.variable {
  color: #d33682;
}
identifier.type {
  color: #cb4b16;
}
identifier.function {
  color: #268bd2;
}

identifier.property {
  color: #268bd2;
}

identifier.method {
  color: #268bd2;
}
identifier.core.method {
  color: #cb4b16;
}
identifier.argument {
  color: #859900;
}
identifier.key {
  color: #268bd2;
  font-style: italic;
}

identifier.name {
  color: #268bd2;
}
identifier.type.superclass {
  color: #b58900;
}

identifier.class.type.name {
  color: #268bd2;
}

identifier.class.type.module.name {
  color: #b58900;
}

identifier.type.superclass.module {
  color: #cb4b16;
}

collection.array {
  color: #cb4b16;
}

cdata {
  color: #657b83;
}

string {
  color: #859900;
}
string.special.symbol{
  font-style: italic;
}
regex {
  color: #dc322f;
}

string.escaped,
regex.escaped {
  color: #dc322f;
}

string.key {
  color: #dc322f;
}
string-template {
  color: #dc322f;
}
string-template.value {
  color: #dc322f;
}
string.percent-quoted.prefix {
  color: #cb4b16;
}
string.percent-quoted.delimiter {
  color: #cb4b16;
}

markup.heading {
  color: #268bd2;
  font-weight: bold;
}
markup.line {
  color: #839496;
}
markup.bold {
  color: #d33682;
  font-weight: bold;
}
markup.italic {
  color: #dc322f;
  font-style: italic;
}
markup.strikethrough {
  color: #839496;
}
markup.list.item {
  color: #dc322f;
}
markup.code {
  color: #2aa198;
  background-color: #fdf6e3;
}
markup.link {
  color: #dc322f;
}
markup.image {
  color: #dc322f;
}

tag {
  color: #839496;
}

style.attribute.name,
tag.attribute.name {
  color: #657b83;
  font-style: italic;
}
tag.attribute.value {
  color: #859900;
}
tag.framework {
  color: #839496;
}

style.value.number {
  color: #cb4b16;
}
style.string {
  color: #657b83;
}

style.at {
  color: #dc322f;
}
